{% extends 'base.html' %}

{% block title %}Room: {{ room_name_json }}{% endblock %}
{% block h1 %}Room: {{ room_name_json }}{% endblock %}

{% block css %}
{% load static %}
<link rel='stylesheet' href='{% static 'css/chat.css' %}' />
{% endblock %}

{% block content %}
<textarea id="chat-log" cols="64" rows="16"></textarea><br/>
<input id="chat-input" type="text" size="32"/>
<input id="chat-submit" type="button" value="Send"/>
{% endblock %}

{% block post-js %}
{% load static %}
<script>
    var roomName = {{ room_name_json }};
</script>
<script src="{% static 'js/chat/room.js' %}"></script>
{% endblock %}
